a {
    color: blue;
    text-decoration: underline;
}

#textarea-preload {
    display: none;
}


#linkBox {
    display: none;
}

textarea, iframe.statik {
    min-width: 440px;
    width: 440px;

    min-height: 300px;
    height: 300px;
}