.tw-bs a {
    color: blue;
    text-decoration: underline;
}

.tw-bs #textarea-preload {
    display: none;
}


.tw-bs #linkBox {
    display: none;
}

.tw-bs textarea, .tw-bs iframe.statik {
    min-width: 440px;
    width: 440px;

    min-height: 250px;
    height: 250px;
}

.tw-bs .modal {
    width: 520px;
    margin-left: -260px;
}

.tw-bs #submit {
    margin-top: -5px;
}

.tw-bs h3 {
    color: black;
}