<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">

<html xmlns="http://www.w3c.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="../statik-resources/styles.css"/>
</head>

<body>

<h1 th:if="${!editMode}" th:text="#{add.heading}">Add a user</h1>
<h1 th:if="${editMode}" th:text="#{edit.heading}">Edit user</h1>

<section>
    <form method="post">
        <input type="hidden" th:value="${editMode}" name="edit" />
        <input type="hidden" th:value="${username}" name="originalUsername" />

        <p class="flash" th:if="${flash == true}" th:text="#{${flashMessage}}">User added</p>
        <p class="error" th:if="${error == true}" th:text="#{${errorMessage}}">Error!</p>

        <div>
            <label th:text="#{username}" for="username" autofocus="autofocus">Username</label>
            <input type="text" required="required" name="username" th:value="${username}" />
        </div>


        <div>
            <label th:text="#{password}" for="password">Password</label>
            <input type="password" required="required" name="password" />
        </div>


        <div>
            <label th:text="#{password.again}" for="password-again">Again</label>
            <input type="password" required="required" name="password-again" />
        </div>
        
        <input type="submit" th:if="${editMode}" value="Add" th:value="#{edit}" />
        <input type="submit" th:if="${!editMode}" value="Add" th:value="#{add}" />

    </form>

    <a id="back-link" href="/statik/users" th:text="#{back.to.users}">Back to users</a>
</section>

</body>
</html>