<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">

<html xmlns="http://www.w3c.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/statik-resources/control-box-styles.css"/>
    <link rel="stylesheet" type="text/css" href="/statik-resources/bootstrap-wysihtml5-0.0.2/libs/css/namespaced-bootstrap.css" />
    <script type="text/javascript" src="/statik-resources/jquery-1.8.3.js" />
    <script src="/statik-resources/bootstrap-wysihtml5-0.0.2/libs/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/statik-resources/control-box.js"></script>
</head>

<body class="tw-bs">

<h3>CMS</h3>

<ul id="statik-auth-box" class="nav nav-list">
    <li class="nav-header" th:text="#{about.you}">About you</li>
    <li><a href="#" id="logout" th:text="#{log.out}">Log out</a></li>
    <li class="nav-header" th:text="#{admin}">Admin</li>
    <li><a href="#" id="publish" th:text="#{publish}">Publish</a></li>
    <li><a href="#" id="users" th:text="#{users}">Users</a></li>
    <li class="nav-header" th:text="#{sites}">Sites</li>
    <li th:each="site : ${sites}">
        <a class="site" th:href="${'http://' + site + '/edit'}" th:text="${site}">sitename</a>
    </li>
</ul>


</body>
</html>