<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">

<html xmlns="http://www.w3c.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/statik-resources/css/statik.css" />
    <link rel="stylesheet" type="text/css" href="/statik-resources/css/namespaced-bootstrap.css"/>
</head>

<body class="tw-bs statik-internal">
    <h1 th:text="#{login.heading}"></h1>

    <section>
        <div th:text="#{login.already.message}" class="alert alert-info already-logged-in"></div>
        <a href="/edit" th:text="#{back}" class="btn btn-primary">Back</a>
    </section>
</body>
</html>