<html>
<head>
    <link type="text/css" rel="stylesheet" href="/statik-resources/styles.css"/>
</head>

<body>
<h1 th:text="#{login.heading}"></h1>

<form method="post" action="/statik-auth">
    <input type="hidden" name="originalDomain" th:value="${originalDomain}" />

    <div>
        <label th:text="#{login.username}"></label>
        <input tabindex="1" name="username"/>
    </div>

    <div>
        <label th:text="#{login.password}"></label>
        <input name="password" tabindex="2" type="password"/>
    </div>

    <div>
        <input type="submit" tabindex="3" th:value="#{login.submit}" value=""/>
    </div>
</form>

<script type="text/javascript" src="/statik-resources/login-binding.js"></script>
<script type="text/javascript" src="/statik-resources/dom.js"></script>
</body>
</html>