<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">

<html xmlns="http://www.w3c.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/statik-resources/css/statik.css"/>
    <link rel="stylesheet" type="text/css" href="/statik-resources/css/namespaced-bootstrap.css"/>
</head>

<body class="tw-bs statik-internal">
<h1 th:text="#{login.error.heading}"></h1>

<section>
    <div th:text="#{login.error.message}" class="alert alert-error alert-block"></div>

    <form method="post" action="/statik-auth">
        <input type="hidden" name="originalDomain" th:value="${originalDomain}"/>

        <div>
            <label th:text="#{login.username}"></label>
            <input tabindex="1" name="username"/>
        </div>

        <div>
            <label th:text="#{login.password}"></label>
            <input name="password" tabindex="2" type="password"/>
        </div>

        <div>
            <input type="submit" tabindex="3" th:value="#{login.submit}" value=""/>
        </div>
    </form>
</section>

<script data-main="/statik-resources/appjs/login" src="/statik-resources/js/require.js"></script>

</body>
</html>