body {
    font-family: sans-serif;
    font-size: 12pt;
    background-color: #1c94c4;
    color: white;
    padding-top: 5px;
}

h1 {
    font-size: 14pt;
    display: block;
    text-align: center;
}

section {
    border: solid white 4px;
    background-color: grey;
    padding: 1em;
    margin: 1em;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a {
    color: white
}

form {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.error {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightpink;
    padding: 1em;
    border: solid red 4px;
    margin-bottom: 20px;
}

label {
    width: 6em;
    display: block;
    float: left;
    font-weight: bold;
}

input[type='submit'] {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    font-size: 14pt;
}

ul#users {
    padding: 0;
}

ul#users li {
    color: black;
    border: solid grey 2px;
    background-color: lightgrey;
    list-style-type: none;
    padding: 0.5em;
    margin-bottom: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

ul#users li a {
    color: black;
    float: right;
    padding-left: 1em
}

a#add {
    width: 100%;
    display: block;
    text-align: center;
}

p.flash {
    border-radius: 4px;
    border: solid lightgreen 1px;
    background-color: lightgreen;
    padding: 0.5em;
    color: black;
    text-align: center;
}

#statik-auth-box {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    border: solid lightgray 1px;
    background-color: lightgray;
    border-radius: 2px;
    padding: 5px
}

#statik-auth-box li {
    list-style-type: none;
}

#statik-auth-box a {
    color: blue;
}

#editMenu {
    display: none;
}

