body {
    font-family: sans-serif;
    font-size: 12pt;
    background-color: #1c94c4;
    color: white;
    padding-top: 5px;
}

iframe {
    border: none;
}

body.tw-bs h1 {
    font-size: 14pt;
    display: block;
    text-align: center;
}

.tw-bs section {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
    text-align: center;
}

a {
    color: white
}

.already-logged-in {
    text-align: center;
}

body.tw-bs form {
    display: block;
}


ul#users {
    padding: 0;
}

ul#users li {
    color: black;
    background-color: lightgrey;
    list-style-type: none;
    padding: 0.5em;
    margin-bottom: 2px;
    margin-top: 10px;
    line-height: 2em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

ul#users li .command {
    float: right;
    padding-left: 1em;
    margin-left: 3px;
}

#editMenu {
    display: none;
}

