<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">

<html xmlns="http://www.w3c.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/statik-resources/css/statik.css"/>
    <link rel="stylesheet" type="text/css" href="/statik-resources/css/namespaced-bootstrap.css"/>
</head>

<body class="tw-bs statik-internal">

<h1 th:text="#{heading}">Users</h1>

<section>
    <p class="alert alert-success" th:if="${deletedUser == true}" th:text="#{deleted}">User deleted</p>

    <a id="add" th:text="#{add}" href="/statik/user" class="btn">Add a user</a>

    <ul id="users">
        <li th:each="user : ${users}">
            <span th:text="${user.username}">Andrew</span>

            <a class="command btn disabled" th:if="${user.default}" th:text="#{delete}" href="#">Delete</a>
            <a class="command btn btn-danger" th:unless="${user.default}" th:text="#{delete}" th:href="'/statik/delete-user?username=' + ${user.username}">Delete</a>

            <a class="command btn" th:text="#{edit}" th:href="'/statik/user?u=' + ${user.username}">Edit</a>
        </li>
    </ul>

    <a id="back-link" href="/" th:text="#{back}" class="btn">Back</a>
</section>

</body>
</html>